<!DOCTYPE html>
<html lang="zh">
<head>
    <title>元数据管理页</title>
    <meta charset="UTF-8">
    <!-- css 资源 -->
    <!-- js 资源 -->
</head>
<body>
    <p>表信息</p>
    <a href="/metadata/table/1" target="_blank">table_info</a><br><br>

    <p>表新增</p>
    <a href="/metadata/table" target="_blank">table_create</a><br><br>

    <p>表重命名</p>
    <a href="/metadata/table" target="_blank">table_update</a><br><br>

    <p>表删除</p>
    <a href="/metadata/table" target="_blank">table_delete</a><br><br>

    <p>表清单</p>
    <a href="/metadata/tables" target="_blank">table_list</a><br><br>
</body>
</html>
